body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  text-align: center;
}
div h1 {
  color: #61dafb;
  font-size: 40px;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% { color: #61dafb; }
  50% { color: #ff6f61; }
  100% { color: #61dafb; }
}
div p {
  font-size: 20px;
}

